# required Dynamic Environment ID from https://app.dynamic.xyz/dashboard/developer/api
VITE_DYNAMIC_ENVIRONMENT_ID=

# optional Wallet addresses for the Omniston integrator fee program
VITE_OMNISTON_INTEGRATOR_ADDRESS_ON_TON= # UQ...
VITE_OMNISTON_INTEGRATOR_ADDRESS_ON_EVM= # 0x...
