# Dynamic Environment ID from https://app.dynamic.xyz/dashboard/developer/api
VITE_DYNAMIC_ENVIRONMENT_ID=

# Wallet addresses for the Omniston integrator fee program
VITE_OMNISTON_INTEGRATOR_ADDRESS_ON_TON=
VITE_OMNISTON_INTEGRATOR_ADDRESS_ON_EVM=
